.info {
  margin: 0 auto;
}

.info__user-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info__user-fullname {
  display: flex;
  justify-content: space-between;
  width: 500px;
}

.info__user-description {
  margin-top: 40px;
  width: 500px;
}

.info__user-text {
  width: 100%;
  height: 100%;
  padding-bottom: 15px;
}

.info__user-text:focus {
  border-bottom: 2px solid #00bfa5;
}

.info__user-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

.info__user-delete,
.info__user-cancel,
.info__user-save {
  text-transform: uppercase;
  padding: 6px 22px;
  font-size: 14px;
}

.info__user-delete {
  color: red;
  background-color: #ef9a9a;
}

.info__user-delete:hover,
.info__user-delete:focus {
  background-color: #e57373;
}

.info__user-cancel:active {
  background-color: #00bfa5;
}

.info__user-cancel:hover {
  background-color: #cfd8dc;
  padding: 6px 22px;
}

.info__user-save:hover {
  background-color: #80cbc4;
}

.info__user-save:active {
  background-color: #00bfa5;
}
