.info {
  margin: 0 auto;

  &__user-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__user-fullname {
    display: flex;
    justify-content: space-between;
    width: 500px;
  }

  &__user-description {
    margin-top: 40px;
    width: 500px;
  }

  &__user-button {
    display: flex;
    justify-content: flex-end;
    margin-top: 60px;
  }

  &__user-cancel {
    padding: 8px 28px;
  }

  &__user-cancel:active {
    background-color: #00bfa5;
  }

  &__user-cancel:hover {
    background-color: #cfd8dc;
    padding: 8px 28px;
  }
}

